<a href="https://colab.research.google.com/github/Satya-teja/Python/blob/main/module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#read an entire text file.
f=open("hi.txt",'r')
for i in f:
  print(i)

hi there

how are you doing?

Im doing okay

thanks for asking

Bye

In [ ]:
#read the first n lines of a file. 
f=open("hi.txt")
n=int(input(""))
a=f.readlines()
for i in range(n):
  print(a[i])

3
hi there

how are you doing?

Im doing okay

In [ ]:
#append text to a file and display the text.
f=open("hi.txt","a")
f.write("Hi again")
f.close()
f=open("hi.txt")
b=f.readlines()
for i in b:
  print(i)
f.close()

hi there

how are you doing?

Im doing okay

thanks for asking

ByeHi againHi again

In [ ]:
#x Read numbers from a file and write even and odd numbers to separate files.
f=open("bhbh.txt")
f1=open("even.txt","w")
f1.close()
f2=open("odd.txt","w")
f2.close()
for i in f:
  b=int(i)
  if b%2==0:
    f1=open("even.txt","a")
    f1.write(str(b))
    f1.close()
  else:
    f1=open("odd.txt","a")
    f1.write(str(b))
    f1.close()

In [ ]:
#Count characters, words and lines in a text file.
f=open("hi.txt")
b=0
a=[]
c,w,l=0,0,0
for i in f:
  l+=1
  a.append(i)
for i in a:
  for j in i:
    if j!=' ' and j!='\n':
      c+=1
    else:
      w+=1
print("characters:",c,"words:",w+1,"lines:",l)
f.close()

characters: 72 words: 16 lines: 5

In [ ]:
#To write a list to a file.
f=open("hi.txt","a")
b=["okay","done","bruh"]
for i in b:
  f.write(i+'\n')
f.close()
f=open("hi.txt")
for i in f:
  print(i)
f.close()

hi there

how are you doing?

Im doing okay

thanks for asking

ByeHi againHi againHiokay

done

bruh

In [ ]:
#Given a CSV file or excel file to read it into a dataframe and display it.
import pandas as pd
a=pd.read_csv("case.csv")
print(a.to_string())

    E-ID   E-NAME  SALARY          DESGINA         DOJ          MOBN        LOC  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  Unnamed: 13 Unnamed: 14
0   1001    YASIR   40000          MANAGER  10/10/2002  9.945678e+09  HYDERABAD         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
1   1002   FAROOQ   42000               HR  18/05/2003  8.859746e+09   WARANGAL         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
2   1003   PRAMOD   10000             PEON  31/05/2004  9.874456e+09      VIZAG         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
3   1004    KHAN    24000         ASSITANT  18/06/2001  8.945671e+09  BENGULURU         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
4   1005    VIVEK   56000      JR.DEVELOER    1/2/2000  8.945612e+09    CHENNAI         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
5   1006  ADITHYA   85000       IT MANAGER    5/5/2005  7.894563e+09      DELHI         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
6   1007   MOHITH   62000               HR  21/10/2008  7.984945e+09    LUCKNOW         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
7   1008     UDAY   78000        DEVELOPER  14/09/2006  7.672751e+09     JAIPUR         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
8   1009  KRISHNA   54000            CHIEF  25/03/2004  7.360558e+09  HYDERABAD         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
9   1010    NITYA   33000      JR.DEVELOER    9/7/2007  7.048365e+09   WARANGAL         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
10  1011     JACK   69000          MANAGER  22/08/2005  6.736172e+09      VIZAG         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
11  1012     JOHN   96000  PROJECT MANAGER    7/8/2009  6.423978e+09  BENGULURU         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
12  1013     PAUL   48000          MANAGER    3/3/2001  6.111785e+09    CHENNAI         NaN         NaN         NaN          NaN          NaN          NaN          NaN           S
13  1014   RAYUDU   34000            CHIEF    26/01/11           NaN      DELHI         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
14  1015   KOHILI   35000      JR.DEVELOER   11/1/2005  6.301570e+09    LUCKNOW         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
15  1016   PRABHU   25000          MANAGER   9/11/2003  8.908123e+09     JAIPUR         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
16  1017   MURTHY   88000               HR    7/9/2009           NaN  HYDERABAD         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
17  1018    PABLO   20000        ARCHIETCH    4/5/2006           NaN   WARANGAL         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
18  1019   REBACK   25000            CHIEF    6/7/2005           NaN      VIZAG         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN
19  1020    QUICA   18000      JR.DEVELOER  12/12/2012  9.978524e+09  BENGULURU         NaN         NaN         NaN          NaN          NaN          NaN          NaN         NaN

In [ ]:
#Given a dataframe, select rows based on a condition.
import pandas as pd
a=pd.read_csv("case.csv")
f=pd.DataFrame(a)
k=f[f['E-ID']>1007]
print(k)

    E-ID   E-NAME  SALARY          DESGINA         DOJ          MOBN  \
7   1008     UDAY   78000        DEVELOPER  14/09/2006  7.672751e+09
8   1009  KRISHNA   54000            CHIEF  25/03/2004  7.360558e+09
9   1010    NITYA   33000      JR.DEVELOER    9/7/2007  7.048365e+09
10  1011     JACK   69000          MANAGER  22/08/2005  6.736172e+09
11  1012     JOHN   96000  PROJECT MANAGER    7/8/2009  6.423978e+09
12  1013     PAUL   48000          MANAGER    3/3/2001  6.111785e+09
13  1014   RAYUDU   34000            CHIEF    26/01/11           NaN
14  1015   KOHILI   35000      JR.DEVELOER   11/1/2005  6.301570e+09
15  1016   PRABHU   25000          MANAGER   9/11/2003  8.908123e+09
16  1017   MURTHY   88000               HR    7/9/2009           NaN
17  1018    PABLO   20000        ARCHIETCH    4/5/2006           NaN
18  1019   REBACK   25000            CHIEF    6/7/2005           NaN
19  1020    QUICA   18000      JR.DEVELOER  12/12/2012  9.978524e+09

          LOC  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
7      JAIPUR         NaN         NaN         NaN          NaN          NaN
8   HYDERABAD         NaN         NaN         NaN          NaN          NaN
9    WARANGAL         NaN         NaN         NaN          NaN          NaN
10      VIZAG         NaN         NaN         NaN          NaN          NaN
11  BENGULURU         NaN         NaN         NaN          NaN          NaN
12    CHENNAI         NaN         NaN         NaN          NaN          NaN
13      DELHI         NaN         NaN         NaN          NaN          NaN
14    LUCKNOW         NaN         NaN         NaN          NaN          NaN
15     JAIPUR         NaN         NaN         NaN          NaN          NaN
16  HYDERABAD         NaN         NaN         NaN          NaN          NaN
17   WARANGAL         NaN         NaN         NaN          NaN          NaN
18      VIZAG         NaN         NaN         NaN          NaN          NaN
19  BENGULURU         NaN         NaN         NaN          NaN          NaN

    Unnamed: 12  Unnamed: 13 Unnamed: 14
7           NaN          NaN         NaN
8           NaN          NaN         NaN
9           NaN          NaN         NaN
10          NaN          NaN         NaN
11          NaN          NaN         NaN
12          NaN          NaN           S
13          NaN          NaN         NaN
14          NaN          NaN         NaN
15          NaN          NaN         NaN
16          NaN          NaN         NaN
17          NaN          NaN         NaN
18          NaN          NaN         NaN
19          NaN          NaN         NaN

In [ ]:
#Given is a dataframe showing the name, occupation, salary of people. Find the average salary per occupation
from pandas import *
a={
  "name":['Satya','Suraj','Subodh','Surya','Dhruv'],
   "occupation":["player","WD","WD","player","WD"],
   "salary":[10000,11000,12000,13000,14000]
}
b=DataFrame(a)
c=[]
for i in b["occupation"]:
  if i not in c:
    k=[]
    c.append(i)
    d=0
    for j in b["occupation"]:
      
      if j==i:
        k.append(int(b["salary"][d]))
      d+=1
    print(i,sum(k)/len(k))

player 11500.0
WD 12333.333333333334

In [ ]:
#Reading Columns
df = pd.read_csv("case.csv")
colfil = df.loc[2:5,['e-ID','Salary']]
print(colfil)

In [ ]:
#Object to JSON
jsonArray = []
csvfil = open("case.csv")
csvreader = csv.DictReader(csvfil)
for row in csvreader:
 jsonArray.append(row)
jsonfil = open("case.csv")
jsonString = json.dumps(jsonArray, indent=4)
jsonfil.write(jsonString)
csvfil.close()
jsonfil.close()